In [31]:
import pandas as pd 

data=pd.read_excel('online_news.xlsx')

In [32]:
data.head()

,Index,content,created_date,publisher,section,title,분기,실질GDP
0,198930,삼성전자의 주종목이 종합반도체로 바뀌는 걸까. 올해 삼성전자의 반도체 부문 영업이익...,2015-01-01T02:22:00.000000,서울신문,economy,D램 매출 14%↑… 반도체 새해도 호황기,2015Q1,2.5
1,198929,"‘전자업계 효자’ 2015년에도 질주삼성, 中시안 공장 1조 들여 증산… SK, 1...",2015-01-01T03:02:00.000000,동아일보,economy,"으랏차차, 반도체… ‘14조 대박신화’ 이어간다",2015Q1,2.5
2,198928,[이데일리 김보리 조진영 기자] 중국의 스마트폰 샤오미(小米)는 ‘짝퉁 애플’이란 ...,2015-01-01T03:06:00.000000,이데일리,economy,[광복70년]고사 직전 제조업 ‘규제완화·내수활성화’ 링거 꽂아야,2015Q1,2.5
3,198926,"◆ 2015 업종별 유망주 ① IT·전자 ◆\n\n\n‘반도체 호황의 지속, 대형 ...",2015-01-01T04:03:00.000000,매일경제,economy,삼성전자 바닥 치고 2분기부터 실적 개선될듯,2015Q1,2.5
4,198927,"‘상저하고(上低下高·주가가 상반기에 부진하고 하반기에는 올라가는 것 ), 지배구조·...",2015-01-01T04:03:00.000000,매일경제,economy,리서치센터장 5인이 보는 새해 증시 투자전략,2015Q1,2.5

In [33]:
del data['Index']
del data['content']
del data['publisher']
del data['section']
del data['title']
del data['분기']

data.head()

                 created_date  실질GDP
0  2015-01-01T02:22:00.000000    2.5
1  2015-01-01T03:02:00.000000    2.5
2  2015-01-01T03:06:00.000000    2.5
3  2015-01-01T04:03:00.000000    2.5
4  2015-01-01T04:03:00.000000    2.5

# created_date 컬럼을 datetime으로 변환

In [34]:
import datetime as dt
data['created_date']=pd.to_datetime(data['created_date'])

In [35]:
# 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86382 entries, 0 to 86381
Data columns (total 2 columns):
created_date    86382 non-null datetime64[ns]
실질GDP           86382 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.3 MB

In [36]:
# ymd 컬럼 생성
import datetime as dt
data['ymd']=data['created_date'].dt.strftime('%Y-%m-%d')

In [37]:
# 확인
data.info()
data['ymd']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86382 entries, 0 to 86381
Data columns (total 3 columns):
created_date    86382 non-null datetime64[ns]
실질GDP           86382 non-null float64
ymd             86382 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.0+ MB

0        2015-01-01
1        2015-01-01
2        2015-01-01
3        2015-01-01
4        2015-01-01
            ...
86377    2016-12-31
86378    2016-12-31
86379    2016-12-31
86380    2016-12-31
86381    2016-12-31
Name: ymd, Length: 86382, dtype: object

In [38]:
del data['created_date']

In [39]:
data.head()

   실질GDP         ymd
0    2.5  2015-01-01
1    2.5  2015-01-01
2    2.5  2015-01-01
3    2.5  2015-01-01
4    2.5  2015-01-01

In [40]:
data.to_excel('visual_GDP.xlsx')